button,
div {
  font-size: 40px;
}
button {
  padding: 5px;
  width: calc(50% - 10px);
  white-space: nowrap;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.row {
  flex: 50%;
  padding: 0 4px;
}

.row img {
  width: 100px;
  height: 100px;
  margin-top: 8px;
  vertical-align: middle;
  padding: 10px;
}

.perimeterImageContainer {
  vertical-align: middle;
  width: 37px;
  height: 38px;
  font-size: 14px;
  background-image: var(--image);
  color: white;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 9px;
  display: inline-block;
}

.perimeterImageContainer2 {
  vertical-align: middle;
  width: 33px;
  height: 38px;
  font-size: 14px;
  background-image: var(--image);
  color: white;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 9px;
  display: inline-block;
}

.columnImageContainer {
  vertical-align: middle;
  width: 40px;
  height: 38px;
  font-size: 14px;
  background-image: var(--image);
  color: white;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 9px;
}

.imageContainer {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  font-size: 24px;
  background-image: var(--image);
  color: white;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 10px;
}

.column {
  padding: 0 4px;
  flex-direction: column;
}

.column img {
  width: 100px;
  height: 100px;
  margin-top: 8px;
  vertical-align: middle;
  padding: 10px;
}

.container {
  display: flex;
}

.fixed {
  width: 57%;
}

.buttonFixed {
  width: 80%;
  font-size: 14px;
}

.perimeterRow {
  flex: 50%;
  padding: 0 4px;
}
.perimeterRow img {
  width: 37px !important;
  height: 20px !important;
  padding: 0 !important;
  margin-top: 8px;
}

.perimeterRow2 {
  flex: 50%;
  padding: 0 4px;
}
.perimeterRow2 img {
  width: 33px !important;
  height: 20px !important;
  padding: 0 !important;
  margin-top: 8px;
}

.perimeterSide {
  flex: 50%;
  /* padding: 0 4px; */
}
.perimeterSide img {
  width: 20px !important;
  height: 25px !important;
  padding: 0 !important;
  margin-top: 8px;
}
